<h1>Heroes</h1>
<hr />

<div class="card-columns">
    <div class="card animated fadeIn fast">
        <img src="" class="card-img-top" alt="" />
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <p class="card-text">
                <small class="text-muted"></small>
            </p>

            <button type="button" class="btn btn-outline-primary btn-block">
        Ver mas...
      </button>
        </div>
    </div>
</div>