<div class="jumbotron animated fadeIn fast">
  <h1 class="display-4">Comic App</h1>
  <p class="lead">Esta es una aplicacion de comic</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
